html, body {
 
  margin: 0;
  padding: 0;
  border: 0;
  height: 98.8%;
  top: 0px;

}

 
body {
  background: linear-gradient(217deg, #81f876cc, rgba(255, 209, 2, 0.308) 70.71%),
              linear-gradient(127deg, #00ff0059, rgba(255, 209, 2, 0.253) 70.71%),
              linear-gradient(336deg, #ffd900cc, rgba(255, 174, 0, 0.418) 70.71%);
  background-attachment: fixed;


  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
}


